/* TODO nav sollte unter dem video element sein zentriert sein
 */

#media {
    display: block;
    text-align: center;
}

#content {
    display: inline-grid;
    grid-template-columns: 820px auto;
    text-align: center;
    flex-wrap: wrap;
    gap: 2em;

}

#video {
    height: 460px;
    width: 820px;
    
}
#toc {
    height: 460px;
    overflow-y: scroll;
    text-align: left;
}

li {
    padding: 1ex 1em;
    margin-bottom: 0.5ex;
    list-style-type: none;
}

ul {
    margin: 0px;
}
